.form-msg{
    background-color: #e8f7f0;
    border: solid 1px #747a78;
    margin-top: 30px ;
    height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-msg>p{
    margin: 0;
    font-size:large;
}

.form-msg>p>a{
    text-decoration: none;
    color: black
}