.inbox-container{
    padding: 40px;
    height: 100%;
}

.email-item{
    text-align: start;
    border:none;
    background-color: transparent;
    width: 100%;
}

.email-display-bg{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: relative;
    top:-40px;
    left: -40px;
    width: calc(100% + 80px);
    height: calc(100% + 80px);
}

.email-bar{
    display: flex;
    border: solid 1px gainsboro;
    padding: 5px 10px;
}
