.email-display{
    background-color: white;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.email-info{
    display: flex;
    flex-direction: column;
    border: gray 1px solid;
    padding: 10px;
}

.email-info>p{
    margin:0;
    font-style: italic;
}

.email-body{
    min-height: 400px;
    padding: 20px;
}