.wrapper{
    background-color: black;
    padding: 20px;
}
.editor{
    background-color: white;
}
.email-editor{
    background-color: green;
    height: auto;
    min-height: 100vh;
    padding: 40px;
}