.main-page {
  display: flex;
  height: 100%;
  border: solid 2px;
  width: 100%;
}

.navigation{
    min-height: 100vh;
    border: solid 2px;
    width: 200px;
}

.view-page {
  border: solid 2px;
  width: 100%;

}
